* {
box-sizing: border-box;
}

body{
    margin: 0%;

}

h1{text-decoration: underline;
text-align: center;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-weight: bold;}

h3{
    text-decoration: overline;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.main-header {background-color: #2ddf5c;
    padding: 8px 16px;
    width: 100%;
    display: inline-block;
    color:black;
    text-align: center;

}
li.main-nav { 
    display: inline-block;
    background-color: orange;
}

ul.main-nav {
    display: inline-block;
    background-color: aquamarine;
}
nav.main-nav
{
    display: inline-block;
    background-color: beige;
}
header.main-header {
    background-color: blueviolet;
}
.main-header > div {
    text-align: center;
display: inline-block;
}

p.separacionlinea {
    line-height: 1.5;
}

body{
    font-family: 'Montserrat', sans-serif;
}