<!-- El encabezado -->
<app-header></app-header> 

<!-- La sección de opciones -->
<section class="ae-container-fluid rk-main">

<!-- las imagenes/contenido primera sección de las opciones -->
<!-- <app-portfolio></app-portfolio> -->

<!-- another section -->

<!-- otra sección de página -->
<!-- <app-about></app-about> -->

<!-- Cada item, es decir cada imagen, cada parte del conjunto. -->
 <!-- <app-item></app-item> -->

 <router-outlet></router-outlet>
</section>

<!-- Pie de página -->
 <app-footer></app-footer>

 <!-- Se añade etiquetas de cada component para enlazarlo y que se empiece a mostrar con su function -->