<footer class="ae-container-fluid rk-footer ">
    <div class="ae-grid ae-grid--collapse">
      <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-left">
        <ul class="rk-menu rk-footer-menu">
          <li class="rk-menu__item"><a routerLink="equip" class="rk-menu__link">Equipo</a>
<!-- en el footer se indica el elemento que se quiere añadir mediante el routerLink -->
          </li>
        </ul>
        <p class="rk-footer__text rk-footer__copy "> <span class="ae-u-bold">© </span> <span class="ae-u-bolder">{{any}} PR0J3CT</span>
          {{_service.info.nombre_corto}} Fullstack St Boi</p>
<!-- DUDAS: No se me añade en el footer el nombre corto definido en el data-pagina.json -->
      </div>
      <div class="ae-grid__item item-lg-4 au-xs-ta-center">
        <a [href]="_service.info.instagram" target="_blank" class="rk-social-btn ">
          <svg>
            <use xlink:href="assets/img/symbols.svg#icon-instagram"></use>
          </svg></a> 
         
      <div class="ae-grid__item item-lg-4 au-xs-ta-center au-lg-ta-right">
        <p class="rk-footer__text rk-footer__contact "> 
          <span class="ae-u-bold">Email: </span>
          <span class="ae-u-bolder"> 
            <a href="mailTo: {{_service.info.email}}" target="_blank" class="rk-dark-color ">{{_service.info.email}} </a>
          </span>
        </p>
        <p class="rk-footer__text rk-footer__by">Web App 
          <a href="_service.info.pagina_autor" class="ae-u-bolder" target="_blank">PR0J3CT</a></p>
      </div>
    </div>

  </div>
  </footer>
